.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Color al pasar el ratón */
}

.done {
    text-decoration: line-through; /* Tachamos el texto */
    color: gray;
}

li {
    transition: transform 0.1s ease; /*Animación*/
}

li:hover {
    transform: scale(1.02); /*Mini zoom*/
}